* {
    margin: 0;
}

.Window {
    $window-border-radius: 5px;

    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-radius: $window-border-radius;

    .Eyebrow {
        height: 40px;

        display: flex;

        border-top-left-radius: $window-border-radius;
        border-top-right-radius: $window-border-radius;

        background: rgb(235, 235, 235);

        %Highlighted {
            cursor: pointer;
            background: rgb(220, 220, 220);
        }

        .MenuBar {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 5px;

            .GithubLogo {
                display: flex;

                margin: 5px;

                border-radius: 5px;
            }

            .GithubLogo:hover {
                @extend %Highlighted;
            }

            .SettingButton {
                display: flex;

                margin: 5px;

                border-radius: 5px;
            }

            .SettingButton:hover {
                @extend %Highlighted;
            }
        }

        .Title {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-family: KaiTi;
                font-weight: bold;
                text-shadow: 0px 0px 10px gray;
            }
        }

        .ControlBar {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-right: 5px;

            .Button {
                display: flex;

                margin: 5px;

                border-radius: 5px;
            }

            .Button:hover {
                @extend %Highlighted;
            }
        }
    }

    .Face {
        flex: 1;
        display: flex;

        background: rgb(225, 225, 225);

        %Highlighted {
            cursor: pointer;
            background: rgb(210, 210, 210);
        }

        .Button {
            width: 100px;
            height: 50px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 5px;

            p {
                font-weight: bold;
                text-shadow: 0px 0px 10px gray;
            }
        }

        .Button:hover {
            @extend %Highlighted;
        }
    }

    .Jaw {
        height: 20px;

        display: flex;

        background: rgb(235, 235, 235);

        %Highlighted {
            cursor: pointer;
            background: rgb(220, 220, 220);
        }
    }
}