body {
    margin: 0;
}

.window {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(235, 235, 235);
    border-radius: 5px;

    .menubar {
        height: 30px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        justify-content: flex-end;

        .button {
            width: 40px;
            height: 30px;

            display: flex;
            justify-content: center;
            align-items: center
        }

        .button:hover {
            background: rgb(205, 205, 205);
        }

        #button-close {
            border-top-right-radius: 5px;
        }
    }
}