body {
    margin: 0;
}

p {
    margin: 0;
}

.Window {
    $window-border-radius: 5px;

    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background: rgb(235, 235, 235);

    border-radius: $window-border-radius;

    %Highlighted {
        background: rgb(220, 220, 220);
        border-radius: 5px;
        box-shadow: 0px 0px 10px gray;
    }

    .Eyebrow {
        height: 40px;

        display: flex;

        border-top-left-radius: $window-border-radius;
        border-top-right-radius: $window-border-radius;

        .MenuBar {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 5px;

            .GithubLogo {
                display: flex;

                margin: 5px;

                :hover {
                    @extend %Highlighted;
                }
            }

            .SettingButton {
                display: flex;

                margin: 5px;

                :hover {
                    @extend %Highlighted;
                }
            }
        }

        .Title {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-weight: bold;
                text-shadow: 0px 0px 10px gray;
            }
        }

        .ControlBar {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-right: 5px;

            .Button {
                display: flex;

                margin: 5px;

                :hover {
                    @extend %Highlighted;
                }
            }
        }
    }

    .Face {
        flex: 1;
        display: flex;

        .FunMenu {
            width: 100px;

            display: flex;
            flex-direction: column;

            background: rgb(220, 220, 220);

            .Button {

                :hover {
                    @extend %Highlighted;
                }

                p {
                    font-weight: bold;
                }
            }
        }

        .FunUI {
            flex: 1;
            display: flex;
            flex-direction: column;

            background: rgb(230, 230, 230);
        }
    }

    .Jaw {
        height: 20px;
    }
}